{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="file_input" type="file" accept="audio/*,video/*,image/*,.pdf" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <script src="{% static 'general/js/script.js' %}"></script>
</body>
</html>